<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}	
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>
    <title>Document</title>
    
    
</head>
<body>
    <h3>
        La Fecha y hora GMT es:
    </h3>
    <p class="fecha">
        <h1>{{time}}</h1>
    </p>
    <h3>
        La Fecha y hora local es:
    </h3>
    <p class="fecha">
        <h1>{{localTime}}</h1>
    </p>
</body>
</html>